/*-- scss:defaults --*/
$primary: #8bbde4;
$body-bg: #17191b;
$body-color: #e1e3e5;
$link-color: #8bbde4;
$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", sans-serif;
$font-family-monospace: ui-monospace, "SFMono-Regular", Consolas, monospace;
$headings-font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
$headings-font-weight: 600;
$border-radius: .2rem;
